/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html{
  font-size:100pts;
  background-color: #ecfaf6;
  opacity: 1;
  padding: 1em;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}

/*.headbox{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}*/
#mainh{
  display: block;
  float: left;
}

/*#mainh{
  order:1;
  align-content: flex-start;
  flex:1;
  align-content: flex-start;
  padding: 1em
}*/
/*.navigation {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
  /*order:2
  flex:3;
}
.navigation li:last-of-type a {
    border-bottom: none;
  }


  /*navigation a{
     text-align: center;
     padding: 10px;
     border-top: 1px solid rgba(255,255,255,0.3);
     border-bottom: 1px solid rgba(0,0,0,0.1);
   }

.navigation a{
      text-decoration: none;
      order: 2;
      flex: 2
      text-align: center;
      border: 0px solid rgba(255,255,255,0.3);
      border: 0px solid rgba(0,0,0,0.1);
      padding: 3em;
      color: #2c2e2d;
}
.navigation a:hover {
    color: red;
}*/
@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0;



  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #2c2e2d;
}

.navigation a:hover {
    color: red;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

h1{
  font-family: 'Fira Sans', sans-serif;
  font-weight:normal;
  text-align: left;
  color: #2c2e2d;
  font-size:42px;
}

#about{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
#hbout{
  flex-basis: 100%
}
#box1{
  order: 2;
  flex-basis: 50%;
}
#box11{
  order: 3;
  flex-basis: 50%;
}

#projects{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
img {
   width: 450px;
   max-width: 100%;
   max-height: 450px;
 }
#hpro{
  flex-basis: 100%
}
#box2{
  order: 2;
  flex-basis: 25%;
}
#box22{
  order: 3;
  flex-basis: 25%;
}
#box222{
  order: 4;
  flex-basis: 25%;
}
#box2222{
  order: 5;
  flex-basis: 25%;
}

#photography{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
#hphoto{
  flex-basis: 100%
}
#box3{
  order: 2;
  flex-basis: 33.33%;
}
#box33{
  order: 3;
  flex-basis: 33.33%;
}
#box333{
  order: 4;
  flex-basis: 33.33%;
}
#box3333{
  order: 5;
  flex-basis: 33.33%;
}
#box33333{
  order: 6;
  flex-basis: 33.33%;
}
#box333333{
  order: 7;
  flex-basis: 33.33%;
}

#travel{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
#htravel{
  flex-basis: 100%
}
#box4{
  order: 2;
  flex-basis: 33.33%;
}
#box44{
  order: 3;
  flex-basis: 33.33%;
}
#box444{
  order: 4;
  flex-basis: 33.33%;
}

h3,h4,h5,h6 {
  font-family: 'Questrial', sans-serif;
  color: #2c2e2d;
  font-size:3.22em;
}

h7 {
  font-family: 'Questrial', sans-serif;
  color: #2c2e2d;
  font-size:3.22em;
  text-align: center;
}
#contact{
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-right: 1em;
}
#hcontact{
  order: 1;
  flex-basis: 100%
}
#box5{
  order: 2;
  flex-basis: 100%;
}
